{% extends "courses/base.html" %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="container mt-5 my-5">
    <h2>Set a New Password</h2>
    {% if messages %}
    <div class="alert alert-success">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    <form method="post" class="p-4 border rounded bg-white shadow-sm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Reset Password</button>
    </form>
</div>
{% endblock %}
